@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<p>
    The source code and other details could be found on <a href="https://github.com/alatas/METUVRS">https://github.com/alatas/METUVRS</a>
</p>
